body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #07004b;
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.timer {
    background-color: #fafafa;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(198, 16, 16, 0.1);
}

h2 {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.countdown input,
.countdown button,
.stopwatch button {
    margin: 5px;
    padding: 8px;
}

#countdownDisplay,
#stopwatchDisplay {
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 10px;
}
